.stripe-form{
    width:50%;
    margin:auto;
    height: 50%;
    font-size:15px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.form-input{
    display:block;
    width: 50%;
    margin-left: 20px;
}

.form-row{
    margin-top:10px;
}
#card-element{
    width: 100%;
    margin: 20px;
}

label{
    font-weight: 500;
}

.submit-btn{
    width:200px;
    padding:5px;
    font-size:13px;
    border-radius: 5px;
    background-color: purple;
}

